html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: hotpink;
}
h1 {
  font-size: 4rem;
  text-align: center;
  animation-duration: 3s;
  animation-name: slidein;
  color: white;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
.flex {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
}
.box {
  border: 3px solid pink;
  height: 35rem;
  width: 32%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: black 0.5rem 0.5rem 0.5rem;
  background-size: cover;
  color: hotpink;
}
.box-1:hover,
.box-2:hover,
.box-3:hover {
  transform: scale(1, 1);
  outline: 1rem solid pink;
}
.box-11:hover,
.box-22:hover,
.box-33:hover {
  transform: skew(-5deg);
  outline: solid 1rem pink;
}
.box-4 {
  transition: 1s ease;
}
.box-4:hover {
  transform: scale(0.8);
  transition: 1s ease;
}
.box-5 {
  transition: 1s ease;
}
.box-5:hover {
  transform: rotate(-10deg);
  transition: 1s ease;
}
.box-6 {
  transition: 1s ease;
}
.box-6:hover {
  border-radius: 50%;
  transition: 1s ease;
}
.box-1 {
  background-image: url(pic/ps5.jpg);
}
.box-11 {
  background-image: url(pic/Ps4.jpg);
}
.box-2 {
  background-image: url(pic/controller.jpg);
}
.box-3 {
  background-image: url(pic/head.jpg);
}
.box-22 {
  background-image: url(pic/controller2.jpg);
}
.box-33 {
  background-image: url(pic/headset.jpg);
}
.box-4 {
  background-image: url(pic/desk.jpg);
}
.box-5 {
  background-image: url(pic/pc.jpg);
}
.box-6 {
  background-image: url(pic/key.jpg);
}
@media only screen and (min-device-width: 1030px) and (max-device-width: 1366px);}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px);}
@media only screen and (min-device-width: 26.75rem) and (min-device-height: 57.87rem);}



