html,
body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-size: 62.5%;
}
.flex {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
.box {
  border: 3px solid white;
  width: 60%;
  height: 500px;
}
.box-1 {
  background-image: url(pic/ps5.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-11 {
  background-image: url(pic/ps4.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
.box-2 {
  background-image: url(pic/controller.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-3 {
  background-image: url(pic/head.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-22 {
  background-image: url(pic/controller2.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.box-33 {
  background-image: url(pic/headset.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
