html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  background-color: hotpink;
}
.flex {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
}
h1 {
  font-size: 35px;
  text-align: center;
}
.box {
  border: 3px solid pink;
  height: 500px;
  width: 32%;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Roboto Condensed", sans-serif;
  box-shadow: black 5px 5px 5px;
  background-size: cover;
  color: hotpink;
}
.box-1 {
  background-image: url(pic/ps5.jpg);
}
.box-11 {
  background-image: url(pic/Ps4.jpg);
}
.box-2 {
  background-image: url(pic/controller.jpg);
}
.box-3 {
  background-image: url(pic/head.jpg);
}
.box-22 {
  background-image: url(pic/controller2.jpg);
}
.box-33 {
  background-image: url(pic/headset.jpg);
}
.box-4 {
  background-image: url(pic/desk.jpg);
}
.box-5 {
  background-image: url(pic/pc.jpg);
}
.box-6 {
  background-image: url(pic/key.jpg);
}
